

<mat-drawer-container >
    <mat-drawer #drawer class="example-sidenav" mode="push">
     
        <mat-toolbar color="primary">
            <span>Title</span>
        </mat-toolbar>
      <mat-nav-list (click)="drawer.close()" >
          <a mat-list-item routerLink="/">List</a>
          <a mat-list-item routerLink="/addStudent">Add</a>
      </mat-nav-list>
     
    </mat-drawer>
  
    <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()" >
                <mat-icon>menu</mat-icon>
            </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    
  
  </mat-drawer-container>